<!-- app/views/showtimes/_showtime_tab.html.erb -->
<% theaters_and_screens = showtimes.map { |s| [s.theater, s.screen] }.uniq %>

<% theaters_and_screens.group_by { |theater, _screen| theater }.each do |theater, screens| %>
  <div class="theater-container">
    <h2 class="theater-name"><%= theater.name %></h2>
    <p class="theater-location"><%= theater.location %></p> <!-- Add the location here -->
    <div class="col-md-12">
      <% screens.each do |(_theater, screen)| %>
        <% theater_screen_showtimes = showtimes.select { |s| s.theater == theater && s.screen == screen } %>

        <% if theater_screen_showtimes.size > 3 %>
          <div id="carousel<%= "#{theater.name.parameterize}-#{screen.name.parameterize}" %>" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% theater_screen_showtimes.each_slice(3) do |batch| %>
                <div class="carousel-item <%= batch == theater_screen_showtimes.first(3) ? 'active' : '' %>">
                  <h5 class="screen-name"><%= "#{screen.name}" %></h5>
                  <div class="row">
                    <% batch.each do |showtime| %>
                      <div class="col-md-4">
                        <div class="card mb-3" style="height: 100%;">
                          <img src="<%= url_for(showtime.movie.avatar) if showtime.movie.avatar.attached? %>" class="card-img-top" alt="Movie Poster" style="height: 200px; object-fit: cover;">
                          <div class="card-body">
                            <h5 class="card-title"><%= showtime.movie.title %></h5>
                            <p class="card-text"><strong>Date & Time:</strong> <%= showtime.time.strftime('%B %d, %Y %I:%M %p') %></p>
                            <%= link_to 'Book Now', showtime_path(showtime, theater_id: theater.id, screen_id: screen.id, movie_id: showtime.movie_id), class: 'btn btn-primary' %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <a class="carousel-control-prev" href="#carousel<%= "#{theater.name.parameterize}-#{screen.name.parameterize}" %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel<%= "#{theater.name.parameterize}-#{screen.name.parameterize}" %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <hr class="section-divider">
        <% else %>
          <div>
            <h5 class="screen-name"><%= "#{screen.name}" %></h5>
            <div class="row">
              <% theater_screen_showtimes.each do |showtime| %>
                <div class="col-md-4">
                  <div class="card mb-3" style="height: 100%;">
                    <img src="<%= url_for(showtime.movie.avatar) if showtime.movie.avatar.attached? %>" class="card-img-top" alt="Movie Poster" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                      <h5 class="card-title"><%= showtime.movie.title %></h5>
                      <p class="card-text"><strong>Date & Time:</strong> <%= showtime.time.strftime('%B %d, %Y %I:%M %p') %></p>
                      <%= link_to 'Book Now', showtime_path(showtime, theater_id: theater.id, screen_id: screen.id, movie_id: showtime.movie_id), class: 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <hr class="section-divider">
      <% end %>
    </div>
  </div>
<% end %>
