<h1><%= @theater.name %></h1>

<p><%= @theater.location %></p>

<% if @rating %>
  <p>Your rating: <%= @rating.value %></p>
<% else %>
  <%= form_tag rate_theater_path(@theater), method: :post do %>
    <%= label_tag 'value', 'Rate this theater:' %>
    <%= select_tag 'value', options_for_select([1, 2, 3, 4, 5]) %>
    <%= submit_tag 'Submit Rating' %>
  <% end %>
<% end %>
<%= link_to 'Back', theaters_path %>